<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServiceBusNamespace" value="bus001"/>
    <add key="SasKeyName" value="RootManageSharedAccessKey"/>
    <add key="SasKey" value="[your secret]"/>
    <add key="AcsIdentity" value="owner"/>
    <add key="AcsKey" value="[your secret]"/>
    <add key="TopicName" value="Test"/>
    <add key="SubscriptionName" value="TestSub1"/>
  </appSettings>
</configuration>