<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gpioConnection" type="Raspberry.IO.GeneralPurpose.Configuration.GpioConnectionConfigurationSection, Raspberry.IO.GeneralPurpose" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- service bus settings -->
    <add key="ServiceBusNamespace" value="controller"/>
    <add key="SasKeyName" value="RootManageSharedAccessKey"/>
    <add key="SasKey" value="VqffRFXV2cIa7J4RYaQWI93uSAHdARMDhROPpEPWpDE="/>
    <add key="TopicName" value="lights-dev"/>
    
    <!-- light controller api settings -->
    <add key="LightControllerBaseUrl" value="http://lightcontroller.azurewebsites.net"/>
    <add key="Latitude" value="35.119763"/>
    <add key="Longitude" value="-81.075701"/>
    <add key="SunriseTimeOffsetMinutes" value="-15"/>
    <add key="SunsetTimeOffsetMinutes" value="10"/>
    
    <!-- email settings -->
    <add key="SmtpHost" value="smtp.sendgrid.net"/>
    <add key="SmtpUserName" value="azure_bf813f4fc2e2c014924f697baa111b9d@azure.com"/>
    <add key="SmtpPassword" value="u86hll1t"/>
    <add key="SenderAddress" value="6192612435@vtext.com"/>
    <add key="RecipientAddress" value="6192612435@vtext.com"/>

    <!-- relay config: if true means that the relay is switched on with low voltage input, -->
    <!-- so reverse the pin toggle logic -->
    <add key="RelayActiveLow" value="true"/> 
  </appSettings>
  
  <gpioConnection pollInterval="25" driver="Raspberry.IO.GeneralPurpose.GpioConnectionDriver, Raspberry.IO.GeneralPurpose" />
</configuration>