<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="latitude" value="35.119763"/>
    <add key="longitude" value="-81.075701"/>
  </appSettings>
</configuration>